[Unit]
Description=uWSGI Emperor service

[Service]
# ExecStart=/usr/local/bin/uwsgi --emperor /etc/uwsgi/sites
ExecStart=/home/ubuntu/srv/venv/bin/uwsgi --emperor /etc/uwsgi/sites
Restart=on-failure
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all
StandardError=syslog

[Install]
WantedBy=multi-user.target
